* {
	line-height: 1.6;
	font: 12px Helvetica, arial, freesans, clean, sans-serif;
}
h1 {
  font-size: 20px;
  margin: 10px;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}
h3 {
  font-size: 13px;
  margin: 10px;
}
p {
  font-size: 12px;
  margin: 10px;
}
b {
  font-weight: bold;
  margin-left: 10px;
}
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  color: #0099FF;
}
.footer {
  font-family: "Times New Roman", Times, serif;
  color: #666666;
  border-width: thin;
  margin-left:10px;
  border-bottom-color: #CCCCCC;
  border-bottom-style: dotted;
  font-size: small;
}
.sidebar {
  position: absolute; 
  width: 400px;
  min-height: 214px; 
  margin-top: 20px;
  margin-left:10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: thin solid #C0C0C0;
}
.news {
  position: absolute; 
  width: 400px;
  min-height: 250px; 
  margin-top: 285px;
  margin-left:10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: thin solid #C0C0C0;
}
.body {
  min-height: 460px; 
  margin-left: 420px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: thin solid #C0C0C0;
}
input {
width:287px;
}
label {
width:50px;
margin:8px;
}

tr {
  margin:10px;
  }
table {
  margin-bottom: 20px;
}
div #mapholder {
    width: auto;
    height: 420px;
    position:relative;
    margin:10px;
    padding: 10px;
    border-style: dotted; border-width: thin; border-top-color: 1; border-right-color: 1; border-bottom-color: 1; border-left-color: 1
  }